<h2>About</h2>

<div class="btn-o">
    <a id="follow-button" class="btn btn-primary btn-sm" title="Follow @koojam_pk on Twitter"
      href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ffollow-button&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=koojam_pk&amp;tw_p=followbutton">
        <i class="fa fa-twitter"></i>
        <span class="label" id="l">Follow <b>@koojam_pk</b></span>
    </a>
</div>
<div class="btn-o">
    <a id="github-button" class="btn btn-primary btn-sm" title="Source code on Github"
      href="https://github.com/koojam-pk/angularjs-simple-blog-app" target="blank">
        <i class="fa fa-github"></i>
        <span class="label">Source code on Github</span>
    </a>
    <br />
</div>
<div class="btn-o">
  <a id="github-button" class="btn btn-primary btn-sm" title="Developer's website"
    href="https://www.pakkianlew.com" target="blank">
      <i class="fa fa-globe"></i>
      <span class="label">Developer's website</span>
  </a>
  <br />
</div>
<article>
  <p>This is a simple blog web application that is taught in udemy - <b>Try AngularJS: Beginner's Guide to Front Web Devloper</b> course.</p>
  <p>What are taught in the course:-</p>
  <ul>
    <li>How to write directive</li>
    <li>How to write service</li>
    <li>How to use http</li>
    <li>How to map to a RESTful API</li>
    <li>How to use Typeahead</li>
    <li>How to use Bootstrap to style the web application (Bootstrap 4 beta is used)</li>
  </ul>
  <p>Additional learning not taught in the course</p>
  <ul>
    <li>Use Yeoman generator-angular to create project</li>
    <li>Use grunt for development and deployment</li>
    <li>Use bootstrap modal dialog to confirm deleting comment</li>
    <li>Return to the paginating page when user left to detail page</li>
    <li>Use font awesome in the application</li>
  </ul>
</article>
